/* scss/readme/_about.scss */
/* scss/readme/_usage.scss */
/* scss/readme/_brand.scss */
.brand {
  width: 100%;
  background-color: lightgrey;
  padding: 50px;
  margin-bottom: 20px; }

/* scss/readme/_manifesto.scss */
.manifesto {
  padding: 50px;
  width: 30%;
  height: 200px;
  float: left;
  margin: 0;
  text-align: center; }

/* scss/readme/_story.scss */
.isci-logo-white {
  width: 200px; }

.isci-logo-white .st1, .isci-logo-white polygon {
  fill: white !important; }

/* scss/readme/_inspiration.scss */
/* scss/readme/_process.scss */
/* scss/readme/_mission.scss */
/* scss/atoms/_logos.scss */
.logos:before,
.logos:after {
  content: " ";
  display: table; }

.logos:after {
  clear: both; }

.logos {
  *zoom: 1; }

.panel {
  width: 300px;
  height: 300px;
  float: left;
  margin-right: 10px;
  padding: 10px; }

/* scss/atoms/_colour.scss */
/* https://scotch.io/tutorials/aesthetic-sass-2-colors */
/* https://codepen.io/jakealbaugh/post/using-sass-functions-to-access-complex-variable-maps */
.purple {
  background: #4b289b; }
  .purple.light {
    background: #7c56d3; }
  .purple.dark {
    background: #24134a;
    color: white; }

.orange {
  background: #ffa100; }
  .orange.light {
    background: #ffbd4d; }
  .orange.dark {
    background: #b37100;
    color: white; }

.blue {
  background: #3CB0C7; }
  .blue.light {
    background: #77c8d8; }
  .blue.dark {
    background: #297d8e;
    color: white; }

.green {
  background: #47a425; }
  .green.light {
    background: #69d441; }
  .green.dark {
    background: #2c6617;
    color: white; }

.white {
  background: #fff;
  color: black !important; }
  .white.alt {
    background: #f2f2f2; }
  .white.dark {
    background: #d9d9d9; }

.black {
  background: #000;
  color: white; }
  .black.light {
    background: #262626; }
  .black.alt {
    background: #0d0d0d; }

.colors:before,
.colors:after {
  content: " ";
  display: table; }

.colors:after {
  clear: both; }

.colors {
  *zoom: 1; }

.color {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
  padding: 10px;
  color: #fff;
  font-size: 12px; }

.colorFixed {
  position: fixed;
  z-index: 3000;
  right: 0;
  top: 0;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.57); }
  .colorFixed .color {
    float: none;
    margin-right: 0;
    width: 70px;
    height: 50px; }

/* scss/atoms/_typography.scss */
@font-face {
  font-family: 'galano_grotesque_alt_demobold';
  src: url("fonts/rene_bieder_-_galano_grotesque_alt_demo_bold-webfont.woff2") format("woff2"), url("fonts/rene_bieder_-_galano_grotesque_alt_demo_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'galano_grotesque_demobold';
  src: url("fonts/rene_bieder_-_galano_grotesque_demo_bold-webfont.woff2") format("woff2"), url("fonts/rene_bieder_-_galano_grotesque_demo_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.logofont {
  font-family: "galano_grotesque_demobold", sans-serif; }

.logofontalt {
  font-family: "galano_grotesque_alt_demobold", sans-serif; }

.font1 {
  font-family: "Source Sans Pro", sans-serif; }

.fontalt1 {
  font-family: "Source Serif Pro", serif; }

.fontalt2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700 !important; }

.font {
  font-weight: normal;
  margin-top: 0;
  color: #6B6B6B; }
  .font span {
    display: block; }

body {
  font-family: "Source Sans Pro", sans-serif; }

/* scss/atoms/_headers.scss */
/* scss/atoms/_paragraph.scss */
/* scss/atoms/_doors.scss */
.door-panel {
  width: 50%;
  padding: 50px;
  float: left;
  position: relative; }

.door-icon {
  width: 100px; }

/* scss/atoms/_backgrounds.scss */
.backgrounds {
  width: 100%;
  height: 300px;
  padding: 50px; }

#grad-purple-dark {
  background: linear-gradient(to bottom right, #4b289b, #24134a);
  color: white; }

#grad-purple-light {
  background: linear-gradient(to bottom right, #4b289b, #7c56d3);
  color: white; }

#grad-orange-dark {
  background: linear-gradient(to bottom right, #ffa100, #b37100);
  color: white; }

#grad-orange-light {
  background: linear-gradient(to bottom right, #ffa100, #ffbd4d);
  color: white; }

#grad-blue-dark {
  background: linear-gradient(to bottom right, #3CB0C7, #297d8e);
  color: white; }

#grad-blue-light {
  background: linear-gradient(to bottom right, #3CB0C7, #77c8d8);
  color: white; }

#grad-green-dark {
  background: linear-gradient(to bottom right, #47a425, #2c6617);
  color: white; }

#grad-green-light {
  background: linear-gradient(to bottom right, #47a425, #69d441);
  color: white; }

#tile-mosaic {
  background-image: url("/assets/background/mosaic/mosaic.png");
  background-size: cover;
  background-position: 0% 30%;
  color: white; }

#tile-rainforest {
  background-image: url("/assets/background/tiles/rainforest.png");
  color: white; }

#tile-orb {
  background-image: url("/assets/background/tiles/orb.png");
  color: white; }

/* scss/atoms/_foreground.scss */
/* scss/atoms/_menu.scss */
.onclick-menu {
  position: relative;
  display: inline-block; }

.onclick-menu .circle {
  width: 50px;
  height: 50px;
  background-color: #ffbd4d;
  padding: 15px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  /* future proofing */
  -khtml-border-radius: 25px;
  /* for old Konqueror browsers */
  border: .5px solid #f2f2f2;
  text-align: center;
  color: black !important; }

.onclick-menu:focus {
  /* clicking on label should toggle the menu */
  pointer-events: auto; }

.onclick-menu:focus .onclick-menu-content {
  /*  opacity is 1 in opened state (see below) */
  opacity: 1;
  visibility: visible;
  /* don't let pointer-events affect descendant elements */
  pointer-events: auto; }

.onclick-menu-content {
  position: absolute;
  z-index: 100;
  /* use opacity to fake immediate toggle */
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s;
  padding: 10px;
  min-width: 350px;
  display: inline-block;
  background-color: #f7f7f7;
  color: #262626 !important; }

.onclick-menu-content li {
  list-style: none;
  height: 25px;
  padding: 5px;
  margin-bottom: 5px; }

.onclick-menu-content li a {
  text-decoration: none;
  color: black;
  font-weight: 700; }

.onclick-menu-content li:before {
  content: "\f016";
  font: normal normal normal 14px/1 FontAwesome;
  display: inline-block;
  margin-left: -5px;
  width: 20px; }

.onclick-menu-content button {
  border: none;
  background-color: #4b289b;
  height: 25px;
  cursor: pointer;
  color: white; }

.onclick-menu-content input {
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #4b289b; }

/* scss/molecules/_social.scss */
/* scss/molecules/_scenes.scss */
.door-panel .foreground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  overflow: hidden; }

.door-panel .foreground img {
  position: absolute;
  width: 420px;
  left: -190px;
  top: 30px; }

.grow:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  transition: 0.3s ease; }

.rotate {
  animation-name: rotate;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.door-panel .message {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 120px;
  left: 175px;
  bottom: 50px;
  line-height: 1;
  font-size: 14pt; }

/* scss/molecules/_letterhead.scss */
/* scss/molecules/_businessCard.scss */
/* scss/molecules/_document.scss */
/* scss/molecules/_slideDeck.scss */
/* scss/molecules/_NSBStamp.scss */
.nsbstamp {
  width: 240px;
  height: 240px;
  padding: 20px;
  text-align: center;
  border-radius: 50%; }

.griditem {
  width: 240px;
  height: 400px;
  float: left;
  margin: 0;
  margin-right: 20px; }

.fullwidth {
  width: 100%;
  display: inline-block; }

/*# sourceMappingURL=main.css.map */
