/* scss/molecules/_NSBStamp.scss */

.nsbstamp{
	width: 240px;
	height: 240px;
 	padding: 20px;
 	text-align: center;
 	border-radius: 50%;
}

.griditem{
	width: 240px;
	height: 400px;
    float: left;
    margin: 0;
    margin-right: 20px;
}

.fullwidth{
	width: 100%;
	display:inline-block;
}