/* scss/molecules/_scenes.scss */

.door-panel .foreground{
  width: 100%;
  height: 100%;
  position: absolute;
  top:  50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  //background-color: blue;
  overflow: hidden;
}

.door-panel .foreground img{
position: absolute;
 width: 420px;
 left: -190px;
 top: 30px;
}

.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        transition: 0.3s ease;
}

.rotate{
    animation-name: rotate; 
    animation-duration: 30s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.door-panel .message{
  width: 40%;
  height: 40%;
  position: absolute;
  top:	120px;
  left: 175px;
  bottom: 50px;
  line-height: 1;
  font-size: 14pt;
}


