/* scss/atoms/_backgrounds.scss */
.backgrounds{
    width: 100%;
    height: 300px;
    padding: 50px;
}
#grad-purple-dark {
  background: linear-gradient(to bottom right, isci-color(purple, base), isci-color(purple, dark));
  color: white;
}

#grad-purple-light{
  background: linear-gradient(to bottom right, isci-color(purple, base), isci-color(purple, light));
  color: white;
}

#grad-orange-dark {
  background: linear-gradient(to bottom right, isci-color(orange, base), isci-color(orange, dark));
  color: white;
}

#grad-orange-light{
  background: linear-gradient(to bottom right, isci-color(orange, base), isci-color(orange, light));
  color: white;
}

#grad-blue-dark {
  background: linear-gradient(to bottom right, isci-color(blue, base), isci-color(blue, dark));
  color: white;
}

#grad-blue-light{
  background: linear-gradient(to bottom right, isci-color(blue, base), isci-color(blue, light));
  color: white;
}

#grad-green-dark {
  background: linear-gradient(to bottom right, isci-color(green, base), isci-color(green, dark));
  color: white;
}

#grad-green-light{
  background: linear-gradient(to bottom right, isci-color(green, base), isci-color(green, light));
  color: white;
}

#tile-mosaic{
  background-image: url("/assets/background/mosaic/mosaic.png");
  background-size: cover;
  background-position: 0% 30%;
  color: white;
}

#tile-rainforest{
  background-image: url("/assets/background/tiles/rainforest.png");
  color: white;
}

#tile-orb{
  background-image: url("/assets/background/tiles/orb.png");
  color: white;
}