/* scss/atoms/_colour.scss */


/* https://scotch.io/tutorials/aesthetic-sass-2-colors */
/* https://codepen.io/jakealbaugh/post/using-sass-functions-to-access-complex-variable-maps */

$isci-color-key: base !default;

$color-purple: #4b289b;
$color-orange: #ffa100;
$color-blue: #3CB0C7;
$color-green: #47a425;
$color-white: #fff;
$color-black: #000;

$isci-colors: (
purple: (
  base: $color-purple,
  light: lighten($color-purple, 20%),
  dark: darken($color-purple, 20%),
  ),
orange: (
  base: $color-orange,
  light: lighten($color-orange, 15%),
  dark: darken($color-orange, 15%),
  ),
blue: (
  base: $color-blue,
  light: lighten($color-blue, 15%),
  dark: darken($color-blue, 15%),
  ),
green: (
  base: $color-green,
  light: lighten($color-green, 15%),
  dark: darken($color-green, 15%),
  ),
white: (
  base: $color-white,
  alt: darken($color-white, 5%),
  dark: darken($color-white, 15%),
  ),
black: (
  base: $color-black,
  light: lighten($color-black, 15%),
  alt: lighten($color-black, 5%),
  )
);

@function isci-color(
  $name: purple,
  $variant: $isci-color-key,
  ) {
  @return map-get(map-get($isci-colors, $name), $variant);
}


.purple{
  background: isci-color(purple, base);
  &.light {
    background: isci-color(purple, light);
  }
  &.dark {
    background: isci-color(purple, dark);
    color:white;
  }
}

.orange{
  background: isci-color(orange, base);
  &.light {
  background: isci-color(orange, light);
  }
  &.dark {
    background: isci-color(orange, dark);
    color:white;
  }
}
.blue{
  background: isci-color(blue, base);
  &.light {
  background: isci-color(blue, light);
  }
  &.dark {
    background: isci-color(blue, dark);
    color:white;
  }
}
.green{
  background: isci-color(green, base);
  &.light {
  background: isci-color(green, light);
  }
  &.dark {
    background: isci-color(green, dark);
    color:white;
  }
}
.white{
  background: isci-color(white, base);
  color: black !important;
  &.alt {
  background: isci-color(white, alt);
  }
  &.dark {
  background: isci-color(white, dark);
  }
}
.black{
  background: isci-color(black, base);
  color: white;
  &.light {
  background: isci-color(black, light);
  }
  &.alt {
  background: isci-color(black, alt);
  }
}


.colors:before,
.colors:after {
  content: " ";
  display: table;
}

.colors:after {
  clear: both;
}
.colors {
  *zoom: 1;
}
.color{
  width:100px;
  height:100px;
  float:left;
  margin-right:10px;
  padding:10px;
  color:#fff;
  font-size:12px;
}

.colorFixed{
  position: fixed;
  z-index: 3000;
  right: 0;
  top: 0;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.57);
  .color{
    float: none;
    margin-right:0;
    width:70px;
    height:50px;
  }
}