/* scss/atoms/_logos.scss */

.logos:before,
.logos:after {
  content: " ";
  display: table;
}

.logos:after {
  clear: both;
}
.logos {
  *zoom: 1;
}
.panel{
  width:300px;
  height:300px;
  float:left;
  margin-right:10px;
  padding:10px;
}