/* scss/atoms/_menu.scss */

.onclick-menu {
    position: relative;
    display: inline-block;
}
.onclick-menu .circle {
    width: 50px;
    height: 50px;
    background-color: #ffbd4d;
    padding: 15px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px; /* future proofing */
    -khtml-border-radius: 25px; /* for old Konqueror browsers */
    border: .5px solid #f2f2f2;
    text-align: center;
    color: black!important;
}
.onclick-menu:focus {
    /* clicking on label should toggle the menu */
    pointer-events: auto;
}
.onclick-menu:focus .onclick-menu-content {
    /*  opacity is 1 in opened state (see below) */
    opacity: 1;
    visibility: visible;

    /* don't let pointer-events affect descendant elements */
    pointer-events: auto;
}
.onclick-menu-content {
    position: absolute;
    z-index: 100;
    /* use opacity to fake immediate toggle */
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s;
    padding: 10px;
    min-width: 350px;
    display: inline-block;
    background-color: #f7f7f7;
    color: #262626 !important;
}
.onclick-menu-content li{
    list-style: none;
    height: 25px;
    padding: 5px;
    margin-bottom: 5px;
}
.onclick-menu-content li a{
    text-decoration:none;
    color:black;
    font-weight: 700;
}
.onclick-menu-content li:before {
    content: "\f016"; 
    font: normal normal normal 14px/1 FontAwesome;
    display: inline-block;
    margin-left: -5px; 
    width: 20px;
}

.onclick-menu-content button {
   border: none;
   background-color: #4b289b;
   height:25px;
   cursor:pointer;
   color:white;
}
.onclick-menu-content input {
   box-sizing: border-box;
   padding: 5px;
   border: 1px solid #4b289b;
}