/* scss/atoms/_typography.scss */

@font-face {
    font-family: 'galano_grotesque_alt_demobold';
    src: url('fonts/rene_bieder_-_galano_grotesque_alt_demo_bold-webfont.woff2') format('woff2'),
         url('fonts/rene_bieder_-_galano_grotesque_alt_demo_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'galano_grotesque_demobold';
    src: url('fonts/rene_bieder_-_galano_grotesque_demo_bold-webfont.woff2') format('woff2'),
         url('fonts/rene_bieder_-_galano_grotesque_demo_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$logofont: 'galano_grotesque_demobold', sans-serif;
$logofontalt: 'galano_grotesque_alt_demobold', sans-serif;

$font1: 'Source Sans Pro', sans-serif;

$fontalt1: 'Source Serif Pro', serif;
$fontalt2: 'Roboto', sans-serif;

.logofont{
  font-family: $logofont;
}

.logofontalt{
  font-family: $logofontalt;
}

.font1{
  font-family: $font1;
}
.fontalt1{
  font-family: $fontalt1;
}
.fontalt2{
  font-family: $fontalt2;
  font-weight: 700!important;
}

.font{
  font-weight:normal;
  margin-top:0;
  color: #6B6B6B;
  span{
    display:block;
  }
}

body{
  font-family:$font1;
}