html, body {
            height: 100%;
            margin: 0px;
            background-color: #4b289b;

        }

        .indexDemo {
            position: relative;
            margin: 0px;
            width: 100%;
        }

        .full{
            width:100%;
            height:800px;
            padding: 20px;
            position: relative;
        }
        #manifesto .full, #colours .full{
            padding: 0px;
        }

        #intro h1,  #brand h1{
            font-size: 4em;
        }

        .typography{
            font-size: 4em;
        }

        .wide{
            width: 74%;
        }

        .half{
            width: 48%;
        }

        .third{
            width: 30%;
        }

        img {
            max-width: 100%;

        }
        .shadow{
            box-shadow: 0px 0px 32px 4px rgba(0, 0, 0, 0.25);
        }

        p {
            font-family: sans-serif;
        }
        p.space{
            margin-bottom: 35px;
        }

        a {
            color: #4BC6EF;
            font-weight:bold;
        }
        .stamp{
            width: 70px;
            display: inline-block;
            margin-bottom: 40px;
        }

        .stamp .si1{
          fill: #7c56d3;
        }
        .stamp path{
            stroke: #7c56d3;
        }

         .story{
            margin-top: 50px;
            width: 300px;
        }
        .story .st1{
          fill: #fff;
        }
        .story path{
            stroke: #fff;
        }

        #colours svg{
            width: 50%;
        }
        .logo-white .st1 {
          fill: #fff;
        }
        .logo-white path{
            stroke: #fff;
        }

        .button {
          text-decoration: none;
          background-color: #EEEEEE;
          color: #24134a;
          padding: 12px;
        }
        .button:hover {
          background-color: #7c56d3;
          color: #24134a;
        }

        a .continue{
            color: white;
            font-size: 3em;
            position: absolute;
            bottom: 10px;
        }
        #manifesto a .continue,   #manifesto a .continue{
            left: 20px;
        }
        .manifesto{
            margin:0!important;
            padding:0;
            width:33.3%;
            height:206.66px;
            padding-top: 60px;
        }
        #colours .manifesto{
            margin:0!important;
            padding:0;
            width:33.3%;
            height:206.66px !important;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        #door .door-panel{
        }

        .logo{
  text-align: center;
  padding: 40px;
  padding-top: 20px;
  padding-bottom: 0;
  //background: #eee;
  img{
    max-width: 100%;
  }
}

.subtitle{
  color: #4b289b;
  font-size: 9pt;
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
}

.logo .st1, .logo polygon{
  fill:#4b289b;
}

.animate-open text.st2{
  transform: translate(-700.9134px,301.5081px);
  animation: openInteractive 10s 2.5s ease infinite alternate;
}

.animate-open text.st3{
  transform: translate(-590px,413.4471px);
  animation: openScientific 10s 2.5s ease infinite alternate;
}

@keyframes openInteractive {
  0%   {transform: translate(-700.9134px,301.5081px)}
  25%  {transform: translate(73.9134px,301.5081px)}
  75%  {transform: translate(73.9134px,301.5081px)}
  100% {transform: translate(73.9134px,301.5081px)}
}

@keyframes openScientific {
  0%   {transform: translate(-590px,413.4471px)}
  25%  {transform: translate(-590px,413.4471px)}
  75%  {transform: translate(36.2591px,413.4471px)}
  100% {transform: translate(36.2591px,413.4471px)}
}