.aa_actionDrawer {
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  background: #f1f1f1;
  z-index: 6000;
  padding: 50px;
  height: 100%;
  width: 500px !important;
  box-shadow: -4px 0px 5px 0px rgba(0, 0, 0, 0.10);
  font-family: $font1;
  box-sizing: border-box;
  color: #7a7a7a;
  overflow: auto;
}


.aa_actionDrawer__wrap {
  max-width: 500px;
  margin: auto;
  position: relative;
  /*top: 30%;
  transform: translateY(-30%);*/
  h1 {
    color: #7A7A7A;
  }
}



.actionDrawer__content {

}

.aa_actionDrawer__close {
  cursor: pointer;
  color: #3d4a57;
  position: absolute;
  right: -38px;
  top: -46px;
  font-size: 11px;
}

.aa_label {
  display: block;
  margin-bottom: 6px;
  color: #7A7A7A;
  font-weight: 300;
}

.aa_label__file {
  color: #4b289b;
  font-weight: bold;
}

.formInputGroup {
  margin-bottom: 24px;
}

.inputBtnGroup {
  @extend .grid-row;
  .aa_btn {
    float: right;
    &:focus {
      outline: none;
      border: none;
    }
  }
}

.inputBtnGroup__inputWrap {
  overflow: hidden;
}

.aa_btn {
  height: 50px;
  border: none;
  width: 100px;
  color: #fff;
  background-color: #7A7A7A;
  font-size: 14px;
  font-family: $font1;
}



.aa_btn-pos {
  background-color: #4b289b;
}

.aa_btn-neg {
  background-color: #3d4a57;
}

.aa_btn-full{
  width: 100%;
  display: block;
  margin-bottom: 12px;
}





.aa_errorBox {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  background: #CD5151;
  color: #fff;
  font-weight: bold;
  .fa {
    cursor: pointer;
  }
}

.aa_errorBox.aa_errorBox-pos {
  background: #51CD6D;
}

.aa_errorBox__message {
  margin: 11px;
}

@media (max-width: 824px) {
  .aa_actionDrawer {
    width: 100% !important;
    padding: 25px;
  }
}




