.codeBlocks {
  .nav-tabs-atomic {
    border: 1px solid #dadada;
    margin-top: 0;
    background: #fff;
  }
  .nav-tabs-atomic > li.active > a, .nav-tabs-atomic > li.active > a:focus, .nav-tabs-atomic > li.active > a:hover {
    border: none;
    border-bottom: 3px solid #4b289b;
    color: inherit;
  }
  .nav-atomic > li > a:focus, .nav-atomic > li > a:hover {
    background: none;
    border: none;
  }
  .nav-tabs-atomic > li > a {
    margin-right: 0;
    line-height: 1;
    border: none;
    border-radius: 0;
    text-decoration: none;
    font-size: 12px;
    color: #929292;
    font-weight: 300;
  }
}

.tabForm{
  display: inline-block;
  margin-bottom: 0;
  label{
    margin-right: 0;
    line-height: 1;
    border: none;
    border-radius: 0;
    text-decoration: none;
    font-size: 12px;
    color: #929292;
    font-weight: 300;
    padding: 10px 15px;
    display: block;
  }
  .formInput-check + label span {
    width: 10px;
    height: 10px;
    top: 0;
    border: 1px solid;
  }
}


