.atoms-side {
  height: 100%;
  background-size: 200px;
  background: #f7f7f7;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5000;
  width: 200px;
  font-family: $font1;
  font-weight: 300;
  nav{
    margin-left: 24px;
    margin-left: 24px;
  }
  a {
    text-decoration: none;
  }
}



/*.atoms-overflow{
    overflow: auto;
    height: 100%;
}*/

.aa_dir {
  //border-bottom: 1px solid #E3E3E3;
}

.atoms-nav {
  list-style: none;
  padding: 0;
  margin-top: 1px;
}

.aa_dir__dirNameGroup__name {
  display: block;
  padding: 6px 38px;
  padding-left: 0;
  margin-left: 38px;
  //text-transform:uppercase;
  color: #7a7a7a;
  font-size: 15px;
  //cursor: move;
}

.aa_dir__dirNameGroup__name:hover {
  text-decoration: none;
}

.aa_addFile {
  color: #9DA0A0;
  margin-bottom: 10px;
  font-size: 10px;
  //background: #eee;
  padding: 4px 9px;
  display: inline-block;
  border-radius: 4px;
  margin-left: 25px;

}

.aa_fileSection__file {
  padding-left: 39px;
  .fa {
    margin-right: 5px;
    position: relative;
    top: 1px;
  }
  a {
    color: #7a7a7a;
    font-size: 14px;
  }
}

.aa_fileSection {
  padding-left: 0;
  li {
    list-style: none;
    &:last-child {
      margin-bottom: 15px;
    }
  }
  a{
    //cursor: move;
  }
  a:hover {
    text-decoration: none;
  }
}

.border-top {
  border-top: 1px solid rgb(66, 66, 66);
}

/****************************/
.atoms-side_options {
  @extend .grid-row;
  .atoms-side_hide {
    @extend .nb-6;
  }
  .atoms-panel_show {
    @extend .nb-6;
  }
}

.atoms-side_hide {
  cursor: pointer;
  display: block;
  background: none;
  padding: 12px 20px;
  font-size: 14px;
  text-align: center;

}
.navIcon {
  color: #4b289b;
}

.atoms-side_show {
  display: none;
  background: #4b289b;
  cursor: pointer;
  position: fixed;
  z-index: 5000;
  color: #fff;
  height: 43px;
  width: 32px;
  line-height: 43px;
  text-align: center;
  border-radius: 0;
  font-size: 14px;
  top: 0;
  left: 0 !important;
}

.atoms-side_show:hover {
  opacity: 1;
}

.toggle-line {
  border: 1px solid #fff;
  display: block;
  width: 13px;
  margin: auto;
  margin-bottom: 2px;
  position: relative;
  left: -1px;
}

.atoms-side_show-small, .smallOpen {

  background: #4b289b;
  cursor: pointer;
  position: fixed;
  color: #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding-top: 10px;
  top: 7px;
  box-shadow: rgba(0, 0, 0, 0.21) 0px 0px 5px 2px;
  opacity: .4;
  top: 7px;
  left: -100%;
  z-index: 7000;
  &:hover {
    opacity: 1;
  }

}



.catAdd {
  a {
    color: #9DA0A0;
    font-size: 10px;
    //background: #eee;
    padding: 4px 9px;
    display: inline-block;
    border-radius: 4px;
    margin-left: 15px;
    position: relative;
    //top: -14px;

    border: 1px dashed;
  }
  .fa{
    font-size: 12px;
    margin-right: 4px;
  }
}









/*@media (max-width: 824px) {
  .atoms-side {
    transition: all .25s;
    transform: translateX(-100%);
    width: 100%;
  }
  .atomic-h1 {
    margin-left: 24px;
  }
}*/






.aa_dir {
  .fa-pencil-square-o {
    display: none;
  }
  &.active {
    .fa-pencil-square-o {
      display: inline-block;
    }
  }
}

