
/*body {
  color: #7A7A7A;
  font-family: $font1;
}*/


.codeBlocks{
  clear: both;
}



:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #E2F3F5;
  border: none;
  margin-top: 0;
}


.compTitle {
  display: block;
  margin-bottom: 12px;
  color: #4b289b;
  //border-left: 5px solid;
  padding-left: 3px;
  max-height: 25px;
  a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    vertical-align: middle;
  }
  .fa {
    cursor: pointer;
  }
}

.compWrap {
  margin-bottom: 48px;
}

.compTitle-close {
  max-height: 0;
  overflow: hidden;;
}

.u-bgWhite {
  background: #fff;
}

.atoms-side_hide {
  .fa {
    margin: 0 9px;
    display: inline-block;
  }
  .fa-code {
    font-weight: bold;
  }
}

.component {
  margin-bottom: 24px;
}



.component-bg {
  padding: 20px;
}

.bgColorWrap {
  margin-bottom: 12px;
}

.sp-replacer {
  background-color: #fff;
  border: none;
}

.sp-preview .sp-clear-display {
  background-image: none;
}

.language-css {
  position: relative;
}

.atoms-overflow {
  overflow: auto;
  position: relative;
  height: 100%;
}

.atomic-btns {
  background: #ccc;
  border: none;
  color: #fff;
  font-size: 14px;
  padding: 6px 12px;
  cursor: pointer;
  font-family:$font1;
}

.atomic-btn1 {
  background: #37c737;
}

.atomic-btn2 {
  background: #e65d5d;
}

.atomic-form {
  background: #a6d4da;
  max-width: 500px;
  padding: 10px;
}

.textChange {
  width: 100%;
  border: none;
  font-size: 13px;
  color: #7A7A7A;
  margin-bottom: 0;
}

textarea.textChange {
  height: 200px;
  padding: 10px;
}

.atomic-form-input.textChange {
  padding: 10px;
}

.atomic-form-footer {
  text-align: right;
  padding-top: 5px;
}

.atomic-form-footer .atomic-btns {
  margin-right: 10px;
  display: inline-block;
}

.partial-viewport {
  width: 100%;
  //border:1px solid red;
}

.sortable-ghost {
  opacity: 0;
}

.atomic-h1 .fa {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;

}

.atoms-container {
  transition: padding .25s;
}

.sidebar-open {
  .atoms-container {
    //opacity: .5;
    //padding-right:500px;
  }
}

.u_textUnderline {
  text-decoration: underline;
}

.componentHasBg {
  padding: 20px;
}

.delete-txt {
  background: none;
  border: none;
  color: #CD5151;
  //text-decoration: underline;
  //vertical-align: bottom;
  margin-top: 20px;
  font-size: 15px;
}



.navIcon-settings {
  font-size: 18px;
  position: relative;
  top: 1px;
}

.js #loader {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.se-pre-con {
  position: fixed;
  padding-left: 200px;
  right: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  box-sizing: border-box;

}

.se-pre-con-inner {
  position: relative;
  text-align: center;
  background: #fff url('../img/circle.gif') no-repeat center center;
  height: 100%;
}




.featureHints {
  margin-top: 40px;
  padding: 10px 20px;
  background: #ececec;
  border-left: 5px solid #4b289b;
  p {
    font-size: 13px;
    font-weight: 300;
  }
  p:first-of-type{
    font-style:normal;
    margin-top: 10px;
  }
}


.clientMode{
  .aa_actionDrawer, .aa_actionBtn, .form-create-jsfile, .fa-pencil-square-o, .atomic-editor-footer, .copyBtn-edit, .aa_addFile, .catAdd{
    display: none !important;
  }
}

.logo{
  text-align: center;
  padding: 40px;
  padding-top: 20px;
  padding-bottom: 0;
  //background: #eee;
  img{
    max-width: 100%;
  }
}

.subtitle{
  color: #4b289b;
  font-size: 9pt;
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
}

.logo .st1, .logo polygon{
  fill:#4b289b;
}

.animate-open text.st2{
  transform: translate(-700.9134px,301.5081px);
  animation: openInteractive 10s 2.5s ease forwards;
}

.animate-open text.st3{
  transform: translate(-590px,413.4471px);
  animation: openScientific 10s 2.5s ease forwards;
}

@keyframes openInteractive {
  0%   {transform: translate(-700.9134px,301.5081px)}
  25%  {transform: translate(73.9134px,301.5081px)}
  75%  {transform: translate(73.9134px,301.5081px)}
  100% {transform: translate(73.9134px,301.5081px)}
}

@keyframes openScientific {
  0%   {transform: translate(-590px,413.4471px)}
  25%  {transform: translate(-590px,413.4471px)}
  75%  {transform: translate(36.2591px,413.4471px)}
  100% {transform: translate(36.2591px,413.4471px)}
}